#landing-body{
  background: #fbfbfb;
  height: 100vh;
  padding: 50px;
  position: relative;
}

.graphics-container{
  position: relative;
}

.description-text{
  width: 160px;
  position: absolute;
  left: -10px;
  top: 180px;

  p{
    @include paragraph-text(10px, $green);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    line-height: 1.8;
    font-weight: 300;
    float: left;
    letter-spacing: .5em;
  }
}
.main-text-container{
  position: absolute;
  z-index: 1001;
  top: 230px;
  left: -110px;


  h3{
    @include header-text;
    letter-spacing: .2em;
    line-height: 1.3;
      a{
        color: $green;
        text-transform: uppercase;
    }
  }
}