{% extends 'landing_base.html' %}
{% load static from staticfiles %}

{% block main_landing_section %}
    <body id="main-zine-body">
        <div class="nav-container">
            {% block logo_container %}
                {{ block.super }}
            {% endblock %}
            <div class="nav-section">
                <ul class="zine-navbar">
                    <li><a href="{% url 'main-zine' %}">Home</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </div>
        </div>

        <div class="main-content-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>~*~*~coming soon*~*~*</h3>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}