.outline-container {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  position: absolute;
  z-index: 1000;
  top: 50px;
  left: -85px; }

.main-outline {
  border: 1px solid #52ba8b;
  background: transparent;
  height: 400px;
  width: 450px;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg); }

.logo-container {
  position: absolute;
  height: 100px;
  width: 60px;
  border: 1px solid #52ba8b;
  border-bottom: 15px solid #52ba8b;
  top: 40px;
  left: 40px; }

.curve-container {
  position: absolute;
  top: 290px;
  left: -10px; }

.curve {
  width: 250px;
  height: 100px;
  border: solid 1px #52ba8b;
  border-color: #52ba8b transparent transparent transparent;
  border-radius: 90%/150px 150px 0 0;
  -webkit-transform: rotate(230deg); }

.green-line {
  width: 25px;
  height: 1px;
  background-color: #52ba8b;
  margin-bottom: 3px; }

.nav-container {
  background: white;
  width: 100%;
  padding: 120px 50px 10px 50px; }

.zine-navbar {
  font-size: 18px;
  color: #52ba8b;
  font-family: 'Proxima Nova', sans-serif;
  list-style: none;
  text-transform: uppercase;
  text-align: right; }
  .zine-navbar li {
    display: inline-block;
    padding: 0 10px; }
  .zine-navbar a {
    color: #52ba8b; }
    .zine-navbar a:hover {
      color: #27273B; }

.main-image-container {
  z-index: 1; }

.cover-photo {
  height: 470px; }

#main-body {
  background: #fbfbfb; }

.main-container {
  height: 100vh; }

.pages-container, .scroll-content-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  display: block;
  background: #fbfbfb; }

.fixed-content-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.content-box {
  position: absolute;
  height: 2000px; }

.content {
  width: 100%;
  height: 2000px;
  top: 0px;
  overflow: visible; }

.landing-container {
  padding: 50px;
  left: 0px;
  top: -60px;
  width: 100vw; }

.large-div {
  padding: 0 50px; }

.main-landing-section {
  height: 100vh; }

.graphics-container {
  position: relative; }

.description-text {
  width: 150px;
  position: absolute;
  left: -7px;
  top: 155px; }
  .description-text p {
    font-size: 10px;
    color: #52ba8b;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    line-height: 1.8;
    font-weight: 300;
    float: left;
    letter-spacing: .3em; }

.main-text-container {
  position: absolute;
  z-index: 1001;
  top: 230px;
  left: -110px; }
  .main-text-container h3 {
    font-size: 35px;
    color: #52ba8b;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .2em;
    line-height: 1.3;
    color: #52ba8b;
    text-transform: uppercase; }

.small-div {
  border-bottom: 1px solid #52ba8b;
  width: 300px;
  height: 400px; }

#main-zine-body {
  background: #FDF5F8;
  background: -webkit-linear-gradient(-90deg, #FDF5F8, #D7F0FF);
  background: linear-gradient(180deg, #FDF5F8, #D7F0FF);
  height: 100vh;
  position: relative; }

.main-content-section {
  text-align: center;
  font-family: 'Roboto', sans-serif; }

a:hover {
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
